# Database configuration credentials
SPRING_DATASOURCE_PASSWORD=1712

# OCR configuration (Tess4J mock vs real)
APP_OCR_MOCK=false

# Google Gemini API key
GEMINI_API_KEY=your-gemini-api-key-here

# Pinecone Vector database configuration
PINECONE_API_KEY=your-pinecone-api-key-here
PINECONE_INDEX_URL=your-pinecone-index-url-here
APP_PINECONE_MOCK=true
